<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PieStoreV1.Properties.Settings.StoreDBConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\StoreDB.accdb;Persist Security Info=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>